/* * {
    box-sizing: border-box;
    margin: auto;
} */
h1 {
    margin-top: 50px;
    text-align: center;
}
#button-style {
    background-color: rgb(202, 96, 202);
    border-color: rgb(202, 96, 202);
    font-size: 60px;
    border-radius: 12px;
}

#button-style:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }