#google-pfp {
    border-radius: 50%;
    max-width: 25px;
    max-height: 25px;
    margin-left: 5px;
}

.navbar {
    background-color: #B1D4E0;
}

.nav-link {
    color: #3a3b3c !important;
}

.nav-link:hover {
    color: 	black !important;
}

#logo {
    max-width: 85px;
    height: auto;
}