.info-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    color: black;
}

/* .info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0C2D48;
    width: 300px;
    height: 300px;
    color: white;
}

.label {
    font-size: 20px;
    margin-top: 30px;
}

.data {
    font-size: 80px;
    margin-top: 10px;
} */

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-box, .right-box {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 150px;
    color: black;
}

.left-box {
    border-right: solid gray 2px;
    text-align: end;
    padding-right: 25px;
}

.right-box {
    border-left: solid gray 2px;
    text-align: start;
    padding-left: 25px;
}

.data {
    font-size: 60px;
    align-self: center;
}